{{!--
{{#if session.user.isOwner}}
    <ul class="gh-nav-list gh-nav-steady">
        <li>
            <a href="https://my.mindspun.com/" title="mindspun" target="_blank">
                {{svg-jar "heart-circle"}} mindspun
            </a>
        </li>
    </ul>
{{/if}}
--}}

<GhNavMenu::Main @icon={{this.settings.settledIcon}} />
